codecov: true
language: c
compiler:
  - gcc
os:
  #- linux
  - osx
dist: bionic
osx_image: xcode11.5
env:
  global:
    - OMPI_MCA_rmaps_base_oversubscribe=true
  matrix:
    # - PYTHON_VERSION=3.5
    # - PYTHON_VERSION=3.6
    - PYTHON_VERSION=3.7

addons:
  apt:
    packages:
      - build-essential
      - python3-dev
      - gfortran
      - libgsl0-dev
      - cmake
      - libfftw3-3
      - libfftw3-dev
      - libmpfr6
      - libmpfr-dev
      - libhdf5-serial-dev
      - hdf5-tools
      - libmpich-dev
      - mpich
      # - libopenmpi-dev
      # - openmpi-bin
  homebrew:
    packages:
      - python
      - gcc@8
      - hdf5
      - netcdf
      - cmake


before_install:
  # - if [[ $TRAVIS_OS_NAME == linux ]]; then ; fi
  - if [[ $TRAVIS_OS_NAME == osx ]]; then
      brew install openmpi --build-from-source --cc=gcc-8;
    fi
  # - pip install --upgrade pip
  - pip install numpy scipy matplotlib pytest docutils mpi4py h5py Cython
  - pip install pytest-cov codecov pytest-timeout

install:
  - pip install -e .
  - ./configure
  - make framework

virtualenv:
  system_site_packages: false

script:
  - mpiexec -n 1 py.test --timeout=10 --cov-report=xml --cov=amuse --pyargs amuse.test.suite.reports.test_speed
  - mpiexec -n 1 py.test --timeout=30 --cov-report=xml --cov=amuse --pyargs amuse.test.suite.core_tests
  - mpiexec -n 1 py.test --timeout=10 --cov-report=xml --cov=amuse --pyargs amuse.test.suite.compile_tests
  
after_success:
  - codecov
