include build.py
include Makefile
include configure
include README.txt
include config.mk.in
include support/configpy.in

recursive-include src *
recursive-include test *
recursive-include lib *
recursive-include data *
recursive-include support *.py

recursive-include doc/install *.* 
recursive-include doc/tutorial *.*
recursive-include doc/html *.*
recursive-include doc/pdf *.pdf

recursive-exclude src *.pyc *.o *~
recursive-exclude test *.pyc *.o *~ ccache
recursive-exclude lib *.pyc *.o *~ ccache *.a
recursive-exclude src/amuse/legacy/mesa/src *
recursive-exclude src/amuse/legacy/seba/src *
